<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.asapapa.apps.asafamilyalbum</string>
	<key>CFBundleExecutable</key>
	<string>AsaFamilyAlbum</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>家族の写真を整理・管理するため、フォトライブラリへのアクセスが必要です。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>写真をアルバムに追加するため、フォトライブラリへの書き込みアクセスが必要です。</string>
	<key>CFBundleDisplayName</key>
	<string>家族アルバム</string>
	<key>CFBundleName</key>
	<string>AsaFamilyAlbum</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
</dict>
</plist>