<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.asaapps.asaeventmap</string>
    <key>CFBundleName</key>
    <string>AsaEventMap</string>
    <key>CFBundleDisplayName</key>
    <string>AsaEventMap</string>
    <key>CFBundleExecutable</key>
    <string>AsaEventMap</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>arm64</string>
    </array>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
    </dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>AsaEventMapはイベントの位置を地図上に表示するために位置情報を使用します。</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>AsaEventMapはイベントの位置を地図上に表示するために位置情報を使用します。</string>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string>AsaSoftCream</string>
    </dict>
</dict>
</plist>